.Appointment {
    background-color: #11b0ba;
    padding-top: 20px;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 30px;
}
.tarea {
    font-family: 'Are You Serious';
    font-size:2.3vw;
} 
#appointment {
    padding:8px;
}
