
/*NEWS AND MEDIA SECTION*/
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

/*body
{
    background-color: #11B0BA ;
}*/

#a1
{
    text-align: center;
    padding-top: 5vh;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.a2
{ 
    text-align: center;
    padding-top: 5vh;
    font-size: 30px;
    justify-content: center;
}

#a3
{ 
    text-align: center;
    padding-top: 5vh;
    font-size: 20px;
    justify-content: center;
}

.images-container
{
    display: flex;
    justify-content: center;
    justify-content: space-evenly 10px;
    margin-top: 5vh;
    flex-wrap: wrap;
    overflow: hidden;
    
}

.images-container img
{ 
    margin-left:15px;
    margin-right: 15px;
    justify-content: center;
}

.a4
{
    text-align: center;
    margin-top:3vh;
    font-size: 18px;
}







.Appointment {
    background-color: #11b0ba;
    padding-top: 20px;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 30px;
}
.tarea {
    font-family: 'Are You Serious';
    font-size:2.3vw;
} 
#appointment {
    padding:8px;
}


#text{
    text-align: center;
    padding-bottom: 150px;
    
}
#deal{
    text-align: center;
    padding-top: 0px;
    
    
}
#asset{
    color: black;
    text-align: center;
}
#note{
    float: right;
    padding-bottom: 0px
    
    ;
}

/* / Beginning of services section */
.container-fluid{
    padding: 0;
}
.Our Service{
    background-color: #11B0BA;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #11B0BA;
}    


#menu{
    padding-right: 12%;
    padding-left: 12%;
    text-align: center;
}



