/*NEWS AND MEDIA SECTION*/
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

/*body
{
    background-color: #11B0BA ;
}*/

#a1
{
    text-align: center;
    padding-top: 5vh;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.a2
{ 
    text-align: center;
    padding-top: 5vh;
    font-size: 30px;
    justify-content: center;
}

#a3
{ 
    text-align: center;
    padding-top: 5vh;
    font-size: 20px;
    justify-content: center;
}

.images-container
{
    display: flex;
    justify-content: center;
    justify-content: space-evenly 10px;
    margin-top: 5vh;
    flex-wrap: wrap;
    overflow: hidden;
    
}

.images-container img
{ 
    margin-left:15px;
    margin-right: 15px;
    justify-content: center;
}

.a4
{
    text-align: center;
    margin-top:3vh;
    font-size: 18px;
}






